.ShareBox {
  pointer-events: all;
  width: 100%;
    margin: 0 auto;
    text-align: left;

    i.im.im-paperplane {
    color: #f85f27;
    }

  a {
    margin: 10px;
}
 a:nth-of-type(1) {
    margin: 0px;
}

}
.SocialMediaShareButton {
display: inline-block;
margin: 10px;
}
.SocialMediaShareButton:hover {
  cursor: pointer;
}

.shareDropdown {
  opacity: 1 !important;
}


.ShareBox {
  display: none;
}


a.smsLink, .smsLink img {
  display: none;
}


@media only screen and (max-width: 480px) {
  a.smsLink, .smsLink img {
    display: inline-block;
  }
  a.smsLink img {
    width: 45px;
  }


}



@media (max-width: 800px) {
  .singleSongPage .ShareBox {
    display: block;
    text-align: center;
}
}




.shareDropdown {
  width: auto;
  box-shadow: 0 3px 2px -2px #C9C6CB;
  position: absolute;
  right: 15px;
  border: 1px solid #C9C6CB;
  padding: 15px;
  background: #fff;
  z-index: 2;

  letter-spacing: .5px;
  top: 100px;
  width: 300px;
text-align: center;

    p {
      margin-bottom: 5px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
    }

    .SocialMediaShareButton {
      transition: ALL .3S ease;
    }
    .SocialMediaShareButton:hover {
      filter: brightness(0.9);
    }
}


.ShareBox {
    z-index: 8 !important;
    position: absolute;
    cursor: pointer;
    transition: all .3s ease;
}

.ShareBox:hover {
  cursor: pointer;
}
.spotify {
    z-index: 7 !important;
    position: absolute;
    cursor: pointer;
}
