.relatedSongs {
  width: 14%;
  display: inline-block;
  vertical-align: top; }
  .relatedSongs .songImageLink img.songImage {
    max-width: 75px;
    margin: 0 !important;
    border-radius: 6px; }

.singleSongPage .relatedSongs {
  width: 14%;
  display: inline-block;
  vertical-align: top;
  float: right; }

.relatedSongsContainer .stack {
  width: 100%;
  display: inline-block; }

.relatedSongsContainer .stack .songContainer {
  width: calc(50% - 2px);
  display: inline-block;
  margin: 1px; }

.singleSongPage .relatedSongs .songImageLink img.songImage {
  max-width: 100%;
  margin: 0 !important;
  border-radius: 0; }

@media (max-width: 1200px) {
  .singleSongPage .relatedSongs {
    width: 100%;
    display: block;
    vertical-align: top;
    float: none; } }

@media (max-width: 800px) {
  .singleSongPage .relatedSongs {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    float: none;
    padding-top: 40px;
    max-width: 674px;
    margin: 0 auto !important;
    display: block !important; }
  .singleSongPage .relatedSongs .stack:nth-of-type(2) {
    display: none; }
  .relatedSongsContainer .stack {
    width: calc(100% - 2px);
    display: inline-block;
    margin: 0 auto;
    margin-left: 2px; }
    .relatedSongsContainer .stack .songContainer:nth-of-type(10) {
      display: none !important; } }
