.headerContainer {
  background: linear-gradient(to right, #1e0c49, #0097d5);
  /* background-image: url('http://rockwiththis.com/wp-content/uploads/2018/01/light-to-dark-header.jpg');
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: bottom !important;
  background-size: cover; */
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  display: block;
  align-items: center;
  transition: 0.3s ease all; }
  .headerContainer .content-wrapper {
    position: relative;
    max-width: 1685px;
    height: 100%;
    padding: 0 35px;
    margin: 0 auto; }
    .headerContainer .content-wrapper .navLink {
      position: absolute; }
    .headerContainer .content-wrapper a.nav-link.left {
      position: absolute;
      left: 35px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
    .headerContainer .content-wrapper a.nav-link.right {
      position: absolute;
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
  .headerContainer #headerLogo {
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .headerContainer #headerLogoMobile {
    display: none; }
  .headerContainer #headerLogo img {
    width: 100%; }
  .headerContainer.shrunk {
    height: 75px; }
    .headerContainer.shrunk #headerLogo {
      width: 340px; }

@media (max-width: 800px) {
  #headerLogo {
    display: none; }
  #headerLogoMobile {
    display: inline-block !important;
    max-width: 70px;
    margin: 0 auto;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #headerLogoMobile img {
      max-width: 70px;
      margin: 0 auto;
      width: 70px; } }

@media screen and (max-width: 600px) {
  .headerContainer #headerLogo img {
    width: 100%;
    max-width: 225px;
    display: block;
    margin: 0 auto; } }

@media (min-width: 800px) {
  .headerContainer a.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 10px;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0); }
  .headerContainer a.nav-link:hover {
    color: white;
    cursor: pointer; } }

@media (max-width: 800px) {
  a.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 10px;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0); }
  a.nav-link.right {
    padding-right: 5px; }
  a.nav-link.left {
    padding-left: 5px; } }

a.nav-link.active {
  background: rgba(255, 255, 255, 0);
  color: #fff !important;
  border: 0px solid #fff;
  border-bottom: 1px solid #fff !important; }

.nav-right {
  position: absolute;
  right: 35px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.nav-left {
  position: absolute;
  left: 35px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.nav-left .nav-submit {
  display: none; }

@media (max-width: 800px) {
  .nav-submit, .nav-week, .nav-discover {
    display: none; }
  .nav-left .nav-submit {
    display: inline-block; } }
