@media(max-width: 1000px) {

.rc-slider .rc-slider-track {
height: 5px !important;
background-color: #975de8 !important;
}

.player-controls-wrapper {
flex: 0 0 100px !important;
margin-right: 10px !important;
}

.rc-slider .rc-slider-handle {
-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11) !important;
-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11) !important;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11) !important;
display: block !important;
border: 1px solid #E8E9EA !important;
z-index: 5 !important;
}

.rc-slider .rc-slider-step {
background-color: #E8E9EA !important;
}

.rc-slider {
border-radius: 0 !important;
}

.player-duration-bar {
margin-right: 0 !important;
}

.player-duration-bar-current-time, .player-duration-bar-song-duration {
display: none !important;
}

.player-duration-bar-wrapper {
position: absolute !important;
padding: 0 !important;
width: 100% !important;
left: 0 !important;
top: -5px !important;
height: auto !important;
}
.player-controls {
flex: 1 1 0 !important;
margin-right: 0px !important;
height: inherit !important;
}
.player-controls-wrapper {
flex: 0 0 100px !important;
margin-right: 10px !important;
}
.player-info {
flex: 1 !important;
padding-right: 0 !important;
margin-right: 18px !important;
}
}

.player-info-image-wrapper {
-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: -webkit-transform 0.15s ease-in, -webkit-box-shadow 0.15s ease-in, transform 0.15s ease-in, opacity 0.15s ease-in, -webkit-box-shadow 0.15s ease-in, box-shadow 0.15s ease-in;
-moz-transition: -webkit-transform 0.15s ease-in, -webkit-box-shadow 0.15s ease-in, transform 0.15s ease-in, opacity 0.15s ease-in, -webkit-box-shadow 0.15s ease-in, box-shadow 0.15s ease-in;
transition: -webkit-transform 0.15s ease-in, -webkit-box-shadow 0.15s ease-in, transform 0.15s ease-in, opacity 0.15s ease-in, -webkit-box-shadow 0.15s ease-in, box-shadow 0.15s ease-in;
border-radius: 8px;
flex: 0 0 55px;
height: 55px;
margin: 0 18px 0 20px;
overflow: hidden;
cursor: pointer;
}

.player-duration-bar-current-time, .player-duration-bar-song-duration {
/*font-family: sf-ui-text-bold;*/
font-size: 13px;
flex: 0 0 60px;
}

.rc-slider-mark {
position: absolute;
top: 18px;
left: 0;
width: 100%;
font-size: 12px;
}

.rc-slider-handle {
position: absolute;
margin-left: -7px;
margin-top: -5px;
width: 14px;
height: 14px;
cursor: pointer;
border-radius: 50%;
border: solid 2px #96dbfa;
background-color: #fff;
}
.rc-tooltip, .rc-slider-handle {
display: none;
}

.rc-slider .rc-slider-step {
height: 5px;
background-color: white;
border: 1px solid #E8E9EA;
border-radius: 6px;
position: absolute;
width: 100%;
background: transparent;
}

.rc-slider .rc-slider-track {
height: 5px;
background-color: #E8E9EA;
z-index: 4;
visibility: visible;
left: 0%;
width: 0%;
position: absolute;
border-radius: 6px;
}

.rc-slider-rail {
position: absolute;
width: 100%;
}

.rc-slider * {
box-sizing: border-box;
-webkit-tap-highlight-color: transparent;
}

.rc-slider .rc-slider-rail {
height: 5px;
background-color: white;
}

.rc-slider {
position: relative;
width: 100%;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
height: 5px;
background-color: white;
margin: 0;
padding: 0;
border-radius: 5px;
}

.player-duration-bar {
flex: 1;
height: 100%;
margin-right: 18px;
align-self: center;
height: 5px;
cursor: pointer;
}
.player-duration-bar-song-duration {
font-size: 13px;
flex: 0 0 60px;
}
.player-duration-bar-wrapper {
align-items: center;
display: flex;
flex: 0 0 contain;
background: transparent;
}
#player-control-button-back {
/* background-image: url(https://rockwiththis.com/wp-content/uploads/2017/11/back.png); */

}
#player-control-button-play {
/* background-image: url(https://rockwiththis.com/wp-content/uploads/2017/11/play-button-2.png); */
flex: 0 0 40px;
height: auto;
margin: 0px;
font-size: 30px;
display: flex;
}
#player-control-button-next {
/* background-image: url(https://rockwiththis.com/wp-content/uploads/2017/11/next.png); */
}
.player-control-button {
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
cursor: pointer;
flex: 0 0 10px;
height: auto;
margin: 0;
font-size: 20px;
}
.player-controls-buttons {
display: flex;
align-items: center;
justify-content: center;
}
.player-controls {
display: flex;
flex: 0 0 550px;
flex-direction: column;
height: inherit;
justify-content: center;
margin-right: auto;
}

.player-controls-wrapper {
display: flex;
flex: 1 1 550px;
}

.footer-player {
position: fixed !important;
z-index: 7000 !important;
height: 75px !important;
bottom: 0 !important;
background: #fff !important;
width: 100%;
margin: 0 !important;
border-top: 2px solid black;
/*padding: 10px 20px;*/
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: fixed;
bottom: 0;
left: 0;
z-index: 1;
width: 100%;
height: 75px;
display: flex;
align-items: stretch;
background-color: white;
border-top: 1px solid #E8E9EA;
}

.footer-player .player-info {
font-size: 15px;
align-items: center;
display: flex;
flex: 1 1 0;
min-width: 0;
padding-right: 18px;
}
.footer-player .player-info-image-wrapper {
width: 50px;
float: left;
background: black;
}
.footer-player .player-info-image-wrapper img {
height: 50px;
width: 50px;
}
.song-title, .artist-title {
float: left;
/*margin-left: 15px;*/
}
.artist-info {
float: left;
margin-left: 15px;
}

.player-info-image-wrapper .player-img {
height: 100%;
width: 100%;
z-index: -1;
}

.player-img img {
    object-fit: contain;
    width: 100%;
    height: auto;
}


#player-control-button-play {
    border-radius: 50% !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
}
