.songsContainer {
    z-index: 0;
    display: flex;
    flex: auto;
    position: absolute;
    top: 85px;
    left: 0;
    width: 80%;
    height: calc(100% - 50px - 75px);
    flex-flow: row wrap;
    padding:15px;
}

.songsContainer .songContainer {
  flex: auto;
  display: flex;
  padding:15;
  z-index: 5;
}
